<a href="https://colab.research.google.com/github/lmcanavals/acomplex/blob/main/01_01_intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro a Colab y Python

## Código no-python

In [ ]:
%%javascript

(function() {
  for (let i = 0; i < 10; i++) {
    console.log(`Hola (${i})`)
  }
})()

In [ ]:
%%bash

for i in {1..10}; do
  echo "Hola ($i)"
done

Hola (1)
Hola (2)
Hola (3)
Hola (4)
Hola (5)
Hola (6)
Hola (7)
Hola (8)
Hola (9)
Hola (10)

In [ ]:
!ls -l sample_data

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Mar 23 14:22 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Mar 23 14:22 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Mar 23 14:22 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Mar 23 14:22 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

## Datos en Python

In [ ]:
199

199

In [ ]:
print(199)

199

In [ ]:
print(1)
print(2)
print(3)

1
2
3

In [ ]:
1
2
3

3

In [ ]:
print(199, type(199))

199 <class 'int'>

In [ ]:
print(200.065, type(200.065))
print("Hola, Mundo", type("Hola, Mundo"))
print('c', type('c'))
print(True, type(True))

200.065 <class 'float'>
Hola, Mundo <class 'str'>
c <class 'str'>
True <class 'bool'>

In [ ]:
x = 3486758487698348459876948576938475698374596348756871293487529034850983698459086
print(x)
print(type(x))

3486758487698348459876948576938475698374596348756871293487529034850983698459086
<class 'int'>

## Variables

In [ ]:
a = 10
b = 20
c = a + b
d, e = c+a, c+b

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))

10 <class 'int'>
20 <class 'int'>
30 <class 'int'>
40 <class 'int'>
50 <class 'int'>

### Asignación múltiple

In [ ]:
a = 10
b = "Hola"

print(a, type(a), b, type(b))

a, b = b, a

print(a, type(a), b, type(b))

10 <class 'int'> Hola <class 'str'>
Hola <class 'str'> 10 <class 'int'>

## Funciones

In [ ]:
def func1(a, b, c, d):
  print(a, type(a))
  print(b, type(b))
  print(c, type(c))
  print(d, type(d))

print("Definición completa")

Definición completa

In [ ]:
func1(a, b, c, d)

Hola <class 'str'>
10 <class 'int'>
30 <class 'int'>
40 <class 'int'>

In [ ]:
func1(1, 1.1, "uno", True)

1 <class 'int'>
1.1 <class 'float'>
uno <class 'str'>
True <class 'bool'>

In [ ]:
def sumar(a, b):
  return a + b

In [ ]:
sumar(10, 45)

55

In [ ]:
def func2(l):
  area = l*l
  perim = 4 * l
  return area, perim

In [ ]:
func2(11)

(121, 44)

In [ ]:
x = func2(12)

In [ ]:
print(x, type(x))

(144, 48) <class 'tuple'>

In [ ]:
a, p = func2(13)
print(a, p)

169 52

In [ ]:
x, y, z = func2(14)

ValueError: ignored

## Lists

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a, type(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>

In [ ]:
print(a[0])
print(a[1])
print(a[2])

print(a[-1])
print(a[-2])

1
2
3
10
9

In [ ]:
n = len(a)
print(n)

10

In [ ]:
print(a[-n])

1

### Operaciones con listas

In [ ]:
a.append(20)
print(a)

a.remove(7)
print(a)

del a[4]
print(a)

a.pop()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]
[1, 2, 3, 4, 5, 6, 8, 9, 10, 20]
[1, 2, 3, 4, 6, 8, 9, 10, 20]
[1, 2, 3, 4, 6, 8, 9, 10]

In [ ]:
a.insert(5, 30)
print(a)

[1, 2, 3, 4, 6, 30, 8, 9, 10]

In [ ]:
b = [100, 200, 300]
c = a + b
print(a)
print(b)
print(c)

[1, 2, 3, 4, 6, 30, 8, 9, 10]
[100, 200, 300]
[1, 2, 3, 4, 6, 30, 8, 9, 10, 100, 200, 300]

### Slices

In [ ]:
print(c)
print(c[3:8])
print(c[:5])
print(c[4:])
print(c[:])

[1, 2, 3, 4, 6, 30, 8, 9, 10, 100, 200, 300]
[4, 6, 30, 8, 9]
[1, 2, 3, 4, 6]
[6, 30, 8, 9, 10, 100, 200, 300]
[1, 2, 3, 4, 6, 30, 8, 9, 10, 100, 200, 300]

### Más slices

In [ ]:
print(c[::1])
print(c[::2])
print(c[::-1])
print(c[::-2])

[1, 2, 3, 4, 6, 30, 8, 9, 10, 100, 200, 300]
[1, 3, 6, 8, 10, 200]
[300, 200, 100, 10, 9, 8, 30, 6, 4, 3, 2, 1]
[300, 100, 9, 30, 4, 2]

## For

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(4, 8):
  print(i)

4
5
6
7

In [ ]:
for i in range(4, 100, 18):
  print(i)

4
22
40
58
76
94

In [ ]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
print(c)
print(c[:])
print(c[:len(c)])

[1, 2, 3, 4, 6, 30, 8, 9, 10, 100, 200, 300]
[1, 2, 3, 4, 6, 30, 8, 9, 10, 100, 200, 300]
[1, 2, 3, 4, 6, 30, 8, 9, 10, 100, 200, 300]

In [ ]:
for e in c:
  print(e)

1
2
3
4
6
30
8
9
10
100
200
300

In [ ]:
for i in range(len(c)):
  print(i, c[i])

0 1
1 2
2 3
3 4
4 6
5 30
6 8
7 9
8 10
9 100
10 200
11 300

In [ ]:
print(c[4:8])
for i in range(4, 8):
  print(i, c[i])

[6, 30, 8, 9]
4 6
5 30
6 8
7 9

In [ ]:
print(c[5:])
for i in range(5, len(c)):
  print(i, c[i])

[30, 8, 9, 10, 100, 200, 300]
5 30
6 8
7 9
8 10
9 100
10 200
11 300

In [ ]:
print(c[::2])
for i in range(0, len(c), 2):
  print(i, c[i])

[1, 3, 6, 8, 10, 200]
0 1
2 3
4 6
6 8
8 10
10 200

In [ ]:
print(c[::-1])
for i in range(len(c)-1, -1, -1):
  print(i, c[i])

[300, 200, 100, 10, 9, 8, 30, 6, 4, 3, 2, 1]
11 300
10 200
9 100
8 10
7 9
6 8
5 30
4 6
3 4
2 3
1 2
0 1

In [ ]:
print(c[::-2])
for i in range(len(c)-1, -1, -2):
  print(i, c[i])

[300, 100, 9, 30, 4, 2]
11 300
9 100
7 9
5 30
3 4
1 2

## Algunos ejercicios

In [ ]:
"""
n = 4
      *
    *   *
  *       *
*           *
  *       *
    *   *
      *
"""

def rombus(n):
  print("  "*n, "*")
  for i in range(1, n):
    print("  "*(n-i), "*", "  "*((i-1)*2), " *")
  for i in range(n-2, 0, -1):
    print("  "*(n-i), "*", "  "*((i-1)*2), " *")
  print("  "*n, "*")

rombus(10)

                     *
                   *   *
                 *       *
               *           *
             *               *
           *                   *
         *                       *
       *                           *
     *                               *
   *                                   *
     *                               *
       *                           *
         *                       *
           *                   *
             *               *
               *           *
                 *       *
                   *   *
                     *

In [ ]:
def sortchars(chars):
  chars2 = []
  for ch in chars:
    chars2.append(ch)
  chars2.sort()
  return "".join(chars2)

sortchars("habia una vez un barco chiquitito")

'     aaaabbccehhiiiinnooqrttuuuvz'

In [ ]:
#import pdb

def balanced(text):
  stack = []
  #pdb.set_trace()
  for ch in text:
    if ch in "([{":
      stack.append(ch)
    else:
      if len(stack) == 0:
        return "NO"
      elif ch == ")" and stack[-1] == "(" or \
       ch == "]" and stack[-1] == "[" or \
       ch == "}" and stack[-1] == "{":
        stack.pop()
      else:
        return "NO"
  return "YES" if len(stack) == 0 else "NO"

print(balanced("{[()]}"))
print(balanced("{[(])}"))
print(balanced("{{[[(())]]}}"))

YES
NO
YES